
[mcu EBBT0]
canbus_uuid:  a4e66a8c9a49 #547009892b57
# python3 ~/katapult/scripts/flashtool.py -i can0 -u ac5f7df1a805 -r
# python3 ~/katapult/scripts/flashtool.py -i can0 -u ac5f7df1a805 -f ~/klipper/out/klipper.bin

# [adxl345 T0]
# cs_pin: EBBT0: PB12
# spi_software_sclk_pin: EBBT0: PB10
# spi_software_mosi_pin: EBBT0: PB11
# spi_software_miso_pin: EBBT0: PB2
# axes_map: x,z,-y

[extruder]
step_pin: EBBT0: PD0
dir_pin: !EBBT0: PD1
enable_pin: !EBBT0: PD2
heater_pin: EBBT0: PB13
sensor_pin: EBBT0: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G

full_steps_per_rotation: 200
gear_ratio: 50:8
microsteps: 16
rotation_distance: 27.2745 #20.67895
nozzle_diameter: 0.400
filament_diameter: 1.750

control: pid
pid_Kp: 22.094	
pid_Ki: 7.015	
pid_Kd: 45.929
min_temp: 0
max_temp: 300
max_extrude_cross_section: 20
max_extrude_only_distance: 150

[tmc2209 extruder]
uart_pin: EBBT0: PA15
run_current: 0.5
stealthchop_threshold: 0

[heater_fan T0_hotend_fan]
pin: EBBT0: PA0
heater: extruder
heater_temp: 50.0

[fan_generic T0_partfan]
pin: EBBT0: PA1


[tool T0]
tool_number: 0
detection_pin: ^EBBT0:PB9
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
extruder: extruder
fan: T0_partfan
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 345
params_park_y: 4
params_park_z: 301
# params_park_x: 0
# params_park_y: 7
# params_park_z: 298
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 50.5
params_input_shaper_damping_ratio_x: 0.065
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 37.6
params_input_shaper_damping_ratio_y: 0.072

# [tool_probe_endstop]
# crash_mintime: 0.5 # seconds to wait before announcing a crash, if the probe stops 
#   #triggering before this, no crash is reported. 
# crash_gcode:
#     RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
#     M84
#     TURN_OFF_HEATERS

# [tool_probe T0]
# pin: ^EBBT0:PB3
# tool: 0
# z_offset: 0
# speed: 8
# samples: 3
# samples_result: median
# sample_retract_dist: 2
# lift_speed: 5
# samples_tolerance: 0.006
# samples_tolerance_retries: 3
# activate_gcode: _TAP_PROBE_ACTIVATE HEATER=extruder

[neopixel T0_leds]
pin: EBBT0:PD3
chain_count: 3
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

##LED

# [led_effect T0_logo_busy]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#     breathing  3 1 top (1,0,0)

# [led_effect T0_logo_cleaning]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#     breathing  3 1 top (0.0, 0.02, 0.5)

# [led_effect T0_logo_calibrating_z]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#         breathing  3 1 top (0.0, 0.0, 0.35)

# [led_effect T0_logo_heating]
# leds:
#     neopixel:T0_leds (1)
# autostart:                          false
# frame_rate:                         15
# layers:
#      breathing  3 1 top (1, 0.18, 0)

# [led_effect T0_logo_cooling]
# leds:
#     neopixel:T0_leds (1)
# autostart:                          false
# frame_rate:                         15
# layers:
#      breathing  3 1 top (0, 0, 1)

# [led_effect T0_logo_homing]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#         breathing  3 1 top (0.0, 0.6, 0.2)

# [led_effect T0_logo_leveling]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#         breathing  3 1 top (0.5, 0.1, 0.4)

# [led_effect T0_logo_meshing]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#         breathing  3 1 top (0.2, 1.0, 0.0)

# [led_effect T0_logo_printing]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#     gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

# [led_effect T0_logo_standby]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#         breathing  3 1 top (0.01, 0.01, 0.01)

# [led_effect T0_logo_part_ready]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (1)
# layers:
#         breathing  3 1 top (0.0, 1.0, 0.0)

# ####################
# ## nozzle effects ##
# ####################

# [led_effect T0_nozzle_heating]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (2,3)
# layers:
#         breathing  3 1 top (1.0, 0.18, 0.0)

# [led_effect T0_nozzle_cooling]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (2,3)
# layers:
#         breathing  3 1 top (0.0, 0.0, 1.0)

# [led_effect T0_nozzle_standby]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (2,3)
# layers:
#         breathing  3 1 top (0.6, 0.0, 0.0)

# [led_effect T0_nozzle_part_ready]
# autostart:              false
# frame_rate:             15
# leds:
#     neopixel:T0_leds (2,3)
# layers:
#         breathing  3 1 top (0.6, 1.0, 0.0)


# #####################
# ## all led effects ##
# #####################

# [led_effect T0_critical_error]
# leds:
#     neopixel:T0_leds
# layers:
#     strobe         1  1.5   add        (1.0,  1.0, 1.0)
#     breathing      2  0     difference (0.95, 0.0, 0.0)
#     static         1  0     top        (1.0,  0.0, 0.0)
# autostart:                             false
# frame_rate:                            15
# run_on_error:                          true


# [led_effect T0_rainbow]
# leds:
#     neopixel:T0_leds
# autostart:                          true
# frame_rate:                         15
# layers:
#     gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)




# #######################
# # LED Effects Statics #
# #######################

# [led_effect T0_set_nozzle_leds]
# leds:
#     neopixel:T0_leds (2,3)
#    #neopixel:caselight
# autostart:                          false
# frame_rate:                         15
# layers:
#     static         0  0     top        (1.0, 1.0, 1.0)

# [led_effect T0_set_logo_leds]
# leds:
#     neopixel:T0_leds (1)
# autostart:                          false
# frame_rate:                         15
# layers:
#     static         0  0     top        (1.0,  1.0, 1.0)

    
[gcode_macro _T0_vars]
variable_logo_led_name:         "T0_leds"
variable_logo_idx:              "1"
variable_logo_brightness:       "1"
variable_nozzle_led_name:       "T0_leds"
variable_nozzle_idx:            "2,3"
gcode:

[temperature_sensor EBBT0]
sensor_type: temperature_mcu
sensor_mcu:  EBBT0

[gcode_macro T0]
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=0
