# This file contains common pin mappings for the BIGTREETECH EBBT2
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBT2]
canbus_uuid: a4e66a8c9a49
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 53af41a9474e -r
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 53af41a9474e -f ~/klipper/out/klipper.bin
# [adxl345 T2]
# cs_pin: EBBT2: PB12
# spi_software_sclk_pin: EBBT2: PB10
# spi_software_mosi_pin: EBBT2: PB11
# spi_software_miso_pin: EBBT2: PB2
# axes_map: x,z,-y

[extruder2]
step_pin: EBBT2: PD0
dir_pin: !EBBT2: PD1
enable_pin: !EBBT2: PD2
heater_pin: EBBT2: PB13
sensor_pin: EBBT2: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
full_steps_per_rotation: 200
gear_ratio: 50:8
microsteps: 16
rotation_distance: 22.67895
nozzle_diameter: 0.400
filament_diameter: 1.750

control: pid
pid_Kp:15.943	
pid_Ki:5.348	
pid_Kd:42.396
min_temp: 0
max_temp: 300

max_extrude_only_distance: 150

[tmc2209 extruder2]
uart_pin: EBBT2: PA15
run_current: 0.5
stealthchop_threshold: 0

[heater_fan T2_hotend_fan]
pin: EBBT2: PA0
heater: extruder2
heater_temp: 50.0

[fan_generic T2_partfan]
pin: EBBT2: PA1

[gcode_macro T2]
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=2


[tool T2]
tool_number: 2
detection_pin: ^EBBT2:PB9
extruder: extruder2
fan: T2_partfan
# Tool offset is 0.171875,-0.034375,-0.833750
gcode_x_offset: -0.150000
gcode_y_offset: 0.275000
gcode_z_offset: 0.093750
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 90
params_park_y: 3
params_park_z: 299
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 46.4
params_input_shaper_damping_ratio_x: 0.098
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 34.4
params_input_shaper_damping_ratio_y: 0.088

# [tool_probe_endstop]
# crash_mintime: 0.5 # seconds to wait before announcing a crash, if the probe stops 
#   #triggering before this, no crash is reported. 
# crash_gcode:
#     RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
#     M84
#     TURN_OFF_HEATERS
    
# [tool_probe T2]
# pin: ^EBBT2:PB3
# tool: 2
# z_offset: 0
# speed: 8
# samples: 3
# samples_result: median
# sample_retract_dist: 2
# lift_speed: 5
# samples_tolerance: 0.006
# samples_tolerance_retries: 3
# activate_gcode: _TAP_PROBE_ACTIVATE HEATER=extruder2

[neopixel T2_leds]
pin: EBBT2:PD3
chain_count: 3
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[gcode_macro _T2_vars]
variable_logo_led_name:         "T2_leds"
variable_logo_idx:              "1"
variable_logo_brightness:       "1"
variable_nozzle_led_name:       "T2_leds"
variable_nozzle_idx:            "2,3"
gcode:

[temperature_sensor EBBT2]
sensor_type: temperature_mcu
sensor_mcu: EBBT2