# This file contains common pin mappings for the BIGTREETECH EBBT3
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.
[mcu EBBT3]
canbus_uuid: 6fe07f82cf29
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 53af41a9474e -r
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 53af41a9474e -f ~/klipper/out/klipper.bin
# [adxl345 T3]
# cs_pin: EBBT3: PB12
# spi_software_sclk_pin: EBBT3: PB10
# spi_software_mosi_pin: EBBT3: PB11
# spi_software_miso_pin: EBBT3: PB2
# axes_map: x,z,-y

[extruder3]
step_pin: EBBT3: PD0
dir_pin: !EBBT3: PD1
enable_pin: !EBBT3: PD2
heater_pin: EBBT3: PB13
sensor_pin: EBBT3: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
full_steps_per_rotation: 200
gear_ratio: 50:8
microsteps: 16
rotation_distance: 22.67895
nozzle_diameter: 0.400
filament_diameter: 1.750

control: pid
pid_Kp: 36.876
pid_Ki: 6.644
pid_Kd: 51.166
min_temp: 0
max_temp: 300

max_extrude_only_distance: 150

[tmc2209 extruder3]
uart_pin: EBBT3: PA15
run_current: 0.5
stealthchop_threshold: 0

[heater_fan T3_hotend_fan]
pin: EBBT3: PA0
heater: extruder3
heater_temp: 50.0

[fan_generic T3_partfan]
pin: EBBT3: PA1

[gcode_macro T3]
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=3


[tool T3]
tool_number: 3
detection_pin: ^EBBT3:PB9
extruder: extruder3
fan: T3_partfan
# Tool offset is 0.171875,-0.034375,-0.833750
gcode_x_offset: -0.150000
gcode_y_offset: 0.275000
gcode_z_offset: 0.093750
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 346
params_park_y: 7
params_park_z: 298
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 46.4
params_input_shaper_damping_ratio_x: 0.098
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 34.4
params_input_shaper_damping_ratio_y: 0.088

[neopixel T3_leds]
pin: EBBT3:PD3
chain_count: 3
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[gcode_macro _T3_vars]
variable_logo_led_name:         "T3_leds"
variable_logo_idx:              "1"
variable_logo_brightness:       "1"
variable_nozzle_led_name:       "T3_leds"
variable_nozzle_idx:            "2,3"
gcode:


[temperature_sensor EBBT3]
sensor_type: temperature_mcu
sensor_mcu: EBBT3